@import '../../styles/shared/style.scss';

.card {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 18px;
  line-height: 25px;
  word-break: break-all;
  border: 1px solid $primary-color;
  border-radius: 6px;

  .card-title {
    font-weight: 700;
  }

  p {
    max-height: 500px;
    overflow: hidden; // for too big descriptions
  }

  &-image {
    align-self: center;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border-radius: 50%;

    img {
      @include rounded-image;
    }
  }

  a {
    color: $primary-color;
    font-size: 20px;
    text-decoration: none;
  }
}
